# requirements.txt
# --------------------
# This file records the packages and requirements needed in order for
# pygeoprocessing to work as expected.

osgeo>=2.3,<2.4
natcap.versioner>=0.4.2
numpy>=1.11.0
scipy>=0.14.0
shapely
